<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<context:annotation-config />
	
	
	<!-- 1. id없이 -->
	<bean class="com.poscodx.container.videosystem.Avengers"/>
	<bean class="com.poscodx.container.videosystem.DVDPlayer"/>
	
	<!-- 2. id와 함께 -->
	<bean id="ironMan" class="com.poscodx.container.videosystem.Avengers"/>
	
	<!-- 3. 생성자 통한 빈설정 -->
	<bean id="player" class="com.poscodx.container.videosystem.DVDPlayer">
        <constructor-arg ref="ironMan"/>
    </bean>
	
</beans>
