<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body { color: gold; }
    p { color: lightpink; }
    address { color: coral; }
    pre code {  /* Java 코드 블록 스타일 */
      display: block;
      background-color: #282c34; /* 어두운 배경 */
      color: #abb2bf; /* 밝은 글씨 */
      padding: 1em;
      overflow-x: auto; /* 가로 스크롤 */
    }
    form{x  
      width: 50%;
      background-color: gold;
      padding: 20px;
      text-align: center;
    }
    .inline-block{
      display: inline-block;
      width:50px;
      margin: 10px;
    }
  </style>
  <link rel="stylesheet" href="a.css">
</head>
<body>
  <p>블록/</p>
  <p>레벨/</p>
  <span>인/</span>&nbsp;<span>라인/<br />하하/</span>
  <div>ㅋㅋㅋ/</div>
  <h1>안녕/</h1>
  <h2>하세요/</h2>
  <p>문장인데, 강조할 <strong>키워드</strong>는 강조한다</p>
  <address>경상북도 포항시 남구 호동로 68</address>
  <p>
    <pre><code>
public class HelloWorld { 
  public static void main(String[] args) {
    System.out.println("hello world"); 
  } 
}
    </code></pre>
  </p>
  <form>
    <input name="id" id="id">
    <br>
    <input name="password" password="password">
  </form>
  <div>
    <span class="inline-block">안녕</span>
    <span class="inline-block">하세요</span>

  </div>
</body>
</html>